.file-toggler {
	position: absolute; 
	left: 0; top: 58px; bottom: 0; 
	height: 300px;
    width: 175px;
    display:inline-block;
}

.file-group {
	max-height: 300px;
	overflow: scroll;
}

.list-group-item {
	height: 30px;
	padding: 3px 10px;
	font-size: 12px;
}