    html { height: 100%; }
    body { margin: 0; height: 100%; }

    main {
      margin-top: 112px;
      height: 100%;
    }

    #userlist {
      position: absolute; left: 0; top: 358px; bottom: 0; height: auto;
      width: 175px;
    }
    #firepad {
      position: absolute; left: 175px; top: 58px; bottom: 0; right: 0; height: auto;
    }

    .btn{
      margin-left:10px;
    }